@charset "ISO-8859-1";
#text2{
       font-weight: bolder;
        }

        .bgGreen{
            background-color: green !important;
            height: 40px;
                }
                .smallWidth{
                    width: 20px;
                    background-color: pink;
                 }